.card {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  width: 47.1rem;
}

.card .img-ctnr {
  min-width: 12.5rem;
  height: 17rem;
  border-radius: 1rem;
  overflow: hidden;
}

.card .img-ctnr img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card:first-child .img-ctnr img {
  object-position: right;
}

.card:nth-child(2) .img-ctnr img {
  object-position: 55%;
}

.loc-ctnr {
  display: flex;
}
.loc-ctnr i {
  color: hsl(0, 89%, 66%);
}
.loc-ctnr p {
  text-transform: uppercase;
  margin-inline: .5rem 1rem;
}
.loc-ctnr a {
  color: hsl(254, 6%, 58%);
}

.title {
  font-size: 2.5rem;
  margin-block: .8rem 1.8rem;
  color: #2B283A;
}

.dates {
  font-weight: 700;
  margin-block-end: .8rem;
  color: #2B283A;
}

.desc {
  line-height: 15px;
  font-weight: 400;
}