*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Inter', sans-serif;
}

img {
  width: 40px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: hsl(233, 12%, 15%);
  padding: 30px;
  box-shadow: 0 2px 5px hsl(217, 14%, 18%);
  z-index: 1;
}

header.dark {
  background-color: hsl(233, 12%, 15%);
  color: #fefefe;
}

header h1 {
  font-size: 23px;
  color: hsl(193, 95%, 68%);
}

header .logoContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

header .toggler {
  display: flex;
  align-items: center;
  justify-content: center;
}

header.dark .toggler--light {
  color: #888;
}
header .toggler--dark {
  color: #aaa;
}
header.dark .toggler--dark {
  color: #fefefe;
}

header .toggler .toggler--slider {
  width: 40px;
  height: 20px;
  background-color: hsl(233, 12%, 15%);
  margin-inline: 10px;
  border-radius: 15px;
  cursor: pointer;
}
header.dark .toggler .toggler--slider {
  background-color: #fefefe;
}

header .toggler .toggler--slider .toggler--slider--circle {
  width: 20px;
  height: 20px;
  background-color: #fefefe;
  border-radius: 50%;
  transform: translateX(5%);
}
header.dark .toggler .toggler--slider .toggler--slider--circle {
  background-color: hsl(233, 12%, 15%);
  transform: translateX(95%);
}

/* Main */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  background: 
    url('./assets/reactjs-icon\ 2.png')
    center right
    / 30%
    no-repeat;
  color: hsl(233, 12%, 15%);
  padding: 30px;
}

main .logo {
  color: #888;
}

main.dark {
  color: #fefefe;
  background-color: hsl(217, 14%, 18%);
}

main h1 {
  font-size: 39px;
  padding-block: 50px;
  margin-block-start: -100px;
}

main ul {
  padding-inline-start: 30px;
  max-width: 450px;
}

main ul > li {
  letter-spacing: 1.1px;
  padding-block: 8px;
}

main ul > li::marker {
  color: hsl(193, 95%, 68%);
  font-size: 1.8rem;
}
